name: Call_my_Action

on:
  push:
    branches:
      - main

jobs:
  Calling_my_Action:
    runs-on: ubuntu-latest
    needs: Pre-Requisite
    steps:
      - uses: actions/checkout@v2
      - uses: ./

  Pre-Requisite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo Pre-Requisite is running

  Post-Requisite:
    runs-on: ubuntu-latest
    needs: Calling_my_Action
    steps:
      - uses: ./
      - run: echo POST-Requisite is running